@import '../../global.scss';
.intro {
  // background-color: $mainColorFaded10;
  background: url("../../../public/assets/background.svg");
  background-size: cover;
  height: calc(100vh - 50px);
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  h1{
    color: white;
    padding: 25px 25px;
    text-align: center;
    font-family: $specialFont;
  }
  .button {
    margin: 10px 10px;
  }
}
