$mainColor: #184e77;
$accentColor: #e7a113;

$backgroundColor1: #2F66AB;
$backgroundColor2: #3DA5C1;
$backgroundColor3: #3EACC3;

$quoteFont: 'IM Fell French Canon', serif;
// $logoFont: 'Italianno', cursive;
$logoFont: 'Allura', cursive;
// $specialFont: 'Playfair Display', serif;
$specialFont: 'PT Serif', serif;
